// Layout SCSS

body {
	background: $UIColor-Black;
}

.controls {
	position: fixed;
	@include flex($dir: column, $cross: flex-end);
	
	top: $WindowMargin-large;
	right: $WindowMargin-large;

	width: 50px;
	height: calc(100% - #{$WindowMargin-large} * 2);

	z-index: 2;

	* {
		cursor: $UICursor-activatable;
	}

	&-menu {
		margin-bottom: auto;
		padding: 25px;
		transform: translate(25px, -25px);
	}

	&-indexContainer {
		@include flex($dir: column);
		// padding-bottom: 125px;
		transition: $UITransition-default;
		width: auto;
		padding-right: 150px;
		margin-bottom: 50px;
	}

	&-index {
		padding: 25px;
		transform: translateX(175px);
		transition: transform 0.4s ease-out, color 0.2s ease-out;

		&::before {
			content: '';
			position: absolute;
			bottom: 10px;
			width: 0%;
			height: 3px;
			background: $UIColor-Highlight;
			transition: width 730ms ease-out;
		}

		&::after {
			content: '';
			width: 250px;
			position: absolute;
			left: 77.5%;
			transition: $UITransition-default;
			transition-delay: 0;
			white-space: nowrap;
			opacity: 0;
			padding: 25px 0;
			transform: translateY(-25px);
		}

		&:nth-of-type(1) {
			// transition: padding 0.4s #{$indexTransitionDelay}s ease-out;
			transition-delay: #{$indexTransitionDelay * 0}s;
			&::after {
				content: '– Home';
			} 
		}

		&:nth-of-type(2) {
			// transition: padding 0.4s #{$indexTransitionDelay * 2}s ease-out;
			transition-delay: #{$indexTransitionDelay * 1}s;
			&::after {
				content: '– LLT Marketing';
			}
			
		}

		&:nth-of-type(3) {
			// transition: padding 0.4s #{$indexTransitionDelay * 3}s ease-out;
			transition-delay: #{$indexTransitionDelay * 2}s;
			&::after {
				content: '– Heliconia Caribea';
			}
			
		}

		&:nth-of-type(4) {
			// transition: padding 0.4s #{$indexTransitionDelay * 4}s ease-out;
			transition-delay: #{$indexTransitionDelay * 3}s;
			&::after {
				content: '– Summit';
			}
			
		}

		&:nth-of-type(5) {
			// transition: padding 0.4s #{$indexTransitionDelay * 5}s ease-out;
			transition-delay: #{$indexTransitionDelay * 4}s;
			&::after {
				content: '– About Me';
			}
		}

		&:nth-of-type(6) {
			// transition: padding 0.4s #{$indexTransitionDelay * 6}s ease-out;
			transition-delay: #{$indexTransitionDelay * 5}s;
			&::after {
				content: '– Contact';
			}
		}

	}

	&-index-active {
		&::before {
			width: 31%;
		}
	}

	&-contact {
		margin-top: auto;
		bottom: $WindowMargin-large;
		transition: $UITransition-default;
	}
}

.logotype {
	position: fixed;
	top: $WindowMargin-large;
	left: $WindowMargin-large;
	z-index: 2;
	transition: $UITransition-default;
	cursor: $UICursor-activatable;
}

.textContent {
	position: fixed;
	left: $WindowMargin-large;
	bottom: $WindowMargin-large;
	max-width: 80%;
	z-index: 1;


	> * {
		transition: opacity $UITransition-timing, transform $UITransition-timing;
		opacity: 0;
		transform: translateX(-20px);
	}

	h1 {
		width: 65%;
	}
	
	h2 {
		max-width: 60%;
	}

	.CTAcontainer {
		@include flex($main: flex-start);
		
		.CTA:first-of-type {
			margin-right: 25px;
		}
	}

	.CTA {
		margin-top: 30px;
		cursor: $UICursor-activatable;
		
	}

	a {
		display: inline-block;
		text-decoration: none;
	}

	.experienceContainer {
		@include flex($main: flex-start);
		flex-wrap: wrap;
		max-width: 80%;

		.experience {
			display: inline-block;
			margin-right: 20px;
		}

		.experience + .experience, .experience:first-of-type {
			margin-top: 20px;
		}
	}
}

.slider {
	position: fixed;
	@include flex($main: flex-start);

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	.slideContainer {
		position: relative;
		overflow: hidden;
		width: 25%;
		height: 100%;

		&:nth-of-type(2) .imageSlide {
			img {
				transform: translateX(-25%);
			}
		}
		&:nth-of-type(3) .imageSlide {
			img {
				transform: translateX(-50%);
			}
		}
		&:nth-of-type(4) .imageSlide {
			img {
				transform: translateX(-75%);
			}
		}

		.slide {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			transition: $UITransition-default;
			transform: translateX(-105%);
			box-sizing: border-box;
		}

		.imageSlide {
			left: 0;
			position: absolute;
			overflow: hidden;
			height: 100%;
			width: 100.5%;
			transition: $UITransition-default;

			img {
				display: block;
				height: auto;
				width: 100vw;
				min-width: 1400px;
				min-height: 100%;				
			}
		}

		.two {
			transform: translateX(-102%);
			z-index: 1;
		}
	}
}

.menu {
	z-index: 20;
	display: none;

	&:last-of-type {
		clip-path: polygon(0% 0%, 50% 0%, 100% 12.5vw, 100% 100%, 0% 100%);
	}

	.menuItem {
		@include flex($dir: column);

		// Image positioning
		&:nth-of-type(1) {
			img {
				left: 0;
			}
		}

		h1 {
			color: $UIColor-Grey;
			transition: $UITransition-default;
		}

		h1, h2 {
			z-index: 22;
		}

		.menuItemImageCover {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: white;
			transition: $UITransition-default;
			z-index: 21;
			border-bottom: 1px solid $UIColor-Grey;
		}

		img {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.menuExitButton {
	position: fixed;
	// @include flex();
	display: none;
	width: 12.5vw;
	height: 12.5vw;
	min-width: 100px;
	min-height: 100px;
	max-width: 150px;
	max-height: 150px;
	top: 0;
	right: 0;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
  // clip-path: url("#menuExitClipPath");
	
	background: $UIColor-Black;
	z-index: 21;
	opacity: 0;
	transition: opacity 0.4s ease-out;

	.menuExitIcon {
		transform: translate(100%, -100%);
		width: 25px;
		height: 25px;
	}
}

.preload {
	display: hidden;
	width: 0;
	height: 0;
}

.loader {
	z-index: 30;

	.slide {
		background: white;
		
	}

	.logo {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: $UITransition-slow;
	}

	.progressTotal, .progressAmount {
		position: fixed;
		left: 50%;
		top: 50%;

		
		max-width: 80%;
		height: 4px;

		transform: translate(-50%, 85px);
		transition: $UITransition-default;
	}

	.progressTotal {
		width: 300px;
		background: $UIColor-Grey;
	}

	.progressAmount {
		background: $UIColor-Black;
	}
}
